{% load static  %}
<div class="md:w-2/5 mt-5 md:mt-0">
    <div class="pb-5 rounded-2xl shadow-xl border">
      <div class="flex justify-between px-3 py-5">
        <div class="text-right opacity-80 text-sm flex flex-col gap-y-6">
          <div>
            رنگ بندی:
          </div>
          <div>
            موجود در انبار:
          </div>
          <div>
            قیمت:
          </div>
          <div>
            تعداد:
          </div>
        </div>
        <div class="text-left opacity-70 text-sm flex flex-col gap-y-6">
          <div>
            6 ماهه تمام
          </div>
          <div>
            7 عدد
          </div>
          <div class="flex text-red-500">
            <div>
              21,000,000
            </div>
            <div>
              تومان
            </div>
          </div>
          <div class="flex text-sm sm:text-sm items-center justify-center lg:justify-start">
            <div class="flex items-center justify-center select-none">
              <div class="quantity flex items-center">
                <input class="w-12 h-7 mx-2 text-center border focus:outline-none rounded-lg" type="number" min="1" step="1" value="1" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="flex justify-center items-center opacity-90">
        <button class="px-7 py-2 text-center text-white bg-red-500 align-middle border-0 rounded-lg shadow-md text-sm">افزودن به سبد خرید</button>
      </span>
    </div>
  </div>
