 {% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ثبت نام</title>

  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font.css' %}">
  <style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  </style>
</head>
<body class="bg-gray-50">
  <div class="flex justify-center items-center text-right h-screen w-96 mx-auto">
    <div class="shadow-xl rounded-2xl p-8 bg-white">
      <form method="POST" action="?phone={{ request.GET.phone }}">
        {% csrf_token %}

        <div class="mb-2">
          <a href="{% url 'Product:Product_view' %}">
            <img src="{% static 'image/logo.png' %}" alt="" class="w-36 mx-auto">
          </a>
        </div>
        <div class="opacity-80 text-lg mb-5">
            ثبت نام
        </div>
         <div class="text-xs opacity-70 mb-2">
          نام :
        </div>
        <div class="mb-2">

          {{form.first_name}}

        </div>
         <div class="text-xs opacity-70 mb-2">
          نام خانوادگی :
        </div>
        <div class="mb-2">

          {{form.last_name}}

        </div>
        <div class="text-xs opacity-70 mb-2">
          شماره همراه :
        </div>
        <div class="mb-2">

          {{form.phone}}

        </div>
         <div class="text-xs opacity-70 mb-2">
          گذرواژه :
        </div>
        <div class="mb-2">

          {{form.password}}

        </div>
           <div class="text-xs text-red-500 hidden">
        </div>
        <div class="text-center mt-5 mb-3">
          <button class="bg-red-500 hover:bg-red-600 transition text-white opacity-80 rounded-2xl w-full py-2" type="submit">
            ثبت نام
          </button>
        </div>
        <div class="text-xs opacity-80">
          ثبت نام یا ورود شما به منظور پذیرش
          <a href="#" class="text-red-500">قوانین و مقررات</a>
          ایران مارکت می باشد
        </div>
      </form>
    </div>
  </div>
</body>
</html>