{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>خوش آمدید</title>

  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font.css' %}">

</head>
<body class="bg-gray-50">
  <div class="flex justify-center items-center text-right h-screen w-96 mx-auto">
    <div class="shadow-xl rounded-2xl p-8 bg-white">
      <form action="">
        <div class="mb-2">
          <a href="{% url 'Product:Product_view' %}">
            <img src="{{ site_settings.logo.url }}" alt="" class="w-36 mx-auto">
          </a>
        </div>
        <div class="opacity-80 text-lg my-5 text-center">
           به ایران مارکت خوش آمدید
        </div>
        <div class="text-xs text-center opacity-70 mb-2">
           برای دسترسی کامل ابتدا وارد حساب کاربری خود شوید
        </div>
        <div class="text-center mt-5 mb-3">
          <button 
          type="button"
          onclick="window.location.href='{% url 'account:Login-user' %}'"
          class="bg-red-500 hover:bg-red-600 transition text-white opacity-80 rounded-2xl w-full py-2 mb-5">
            تکمیل حساب کاربری
          </button>
          <div class="flex justify-center items-center">
            <a class="border-b-2 border-red-500 hover:text-red-600 transition" href="{% url 'Product:Product_view' %}">
              صفحه اصلی
            </a>
            <img class="w-5" src="{% static 'image/arrow-left.png' %}" alt="">
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/verifyUser.js' %}"></script>
</html>