{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>اطلاعات من</title>

  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font.css' %}">

  <style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  </style>
  
</head>
<body class="bg-gray-50">
  <!-- NAVBAR -->
  <div>
    <!-- TOP -->
   {% include 'includes/head.html' %}
    <!-- OPACITY SCREEN FOR SEARCH INPUT FOCUS -->
    <div class="absolute w-full h-screen bg-gray-200 opacity-40 z-40 hidden" id="opacitiScreen" onclick="closeScreen()">
    </div>
  </div>
  <!-- MAIN -->
       {% include 'includes/profile_navbar.html' %}
        <div class="md:w-8/12 lg:w-9/12 flex flex-col gap-y-5">
          <div class="border rounded-3xl shadow-lg flex flex-col p-5 gap-y-5">
            <div class="sm:grid grid-cols-2 gap-x-5">
             
              <div class="mb-4">
                <label for="username" class="inline-block mb-2 ml-1 font-semibold text-xs text-slate-700">رمز عبور فعلی</label>
                <input type="text" class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 font-normal text-gray-700 outline-none focus:border-red-300"/>
              </div>
              <div class="mb-4">
                <label for="username" class="inline-block mb-2 ml-1 font-semibold text-xs text-slate-700">رمز عبور جدید</label>
                <input type="password" class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 font-normal text-gray-700 outline-none focus:border-red-300"/>
              </div>
              <div class="mb-4">
                <label for="username" class="inline-block mb-2 ml-1 font-semibold text-xs text-slate-700">تکرار رمز عبور جدید</label>
                <input type="password" class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 font-normal text-gray-700 outline-none focus:border-red-300"/>
              </div>
              <div class="flex items-center pt-7 h-16">
                
                
              </div> 
            </div>
            <span class="opacity-90">
              <button class="px-7 py-2 text-center text-white bg-blue-500 align-middle border-0 rounded-lg shadow-md text-sm">تغییر رمز عبور</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  {% include 'includes/footer.html' %}
</body>
  <!--DROPDOWNS FOR NAVBAR-->
  <script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer>
  </script>
  <!--MOBILE NAVBAR-->
  <script src="{% static 'js/navbar.js' %}"></script>
  <!-- SHOW MODAL SEARCH -->
  <script src="{% static 'js/searchBox.js' %}"></script>
</html>